* {
  box-sizing: border-box;

}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #white;
}
h1 {
  padding-top: 5%;
}
h5 {
  font-weight: normal;
}
.thumbnail {
  width: 75%
}
a {
  text-decoration: none;
  color: inherit;
}
  .firstSegment {
    height: 85vh;
    padding-top: 15%;
    background-color: #f6f0ea;
  }
    .cover-photo {
      width:100%;
      height: auto;
    }
  .secondSegment {
    min-height: 35em;
  }
  .seven.wide.column {
    padding-top: 10em;
  }
  .quote {
    margin-bottom:0;
  }
  .quoteby {
    margin-top: 0;
  }
  .featured-photo {
    width: 75%;
    height: auto;
  }
  .secondSegment {
  }
  .photo-segment {
    padding-top: 5%;
  }
  footer {
    margin-top: 10% !important;
    background-color: #5F473F !important;
    height: 20em;
    color: white;
    padding: 7.5% !important;
    text-align: center;
    font-style: 'avenir';
  }
  footer p {
    font-size: 12px;
  }
  .ui.top.fixed.menu {
    opacity: 0.8;
    background-color: #A77E72;
  }

